@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.125rem 7rem;

  font-weight: 500;
}

.logo_paginas {
  display: flex;
  align-items: center;

  gap: 7.4375rem;
}

.logo {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.logo p {
  font-size: 1.125rem;

  color: #3a404e;
}

.lista_paginas {
  list-style: none;

  display: flex;
  gap: 2rem;

  font-size: 1rem;

  color: #667085;
}

.botoes {
  display: flex;
  gap: 0.75rem;
}

.btn {
  font-size: 1rem;
  color: #667085;

  padding: 0.65rem 1.125rem;

  border: none;
}

.simples {
  background: transparent;
}

.bg {
  background-color: #8e2424;
  color: #ffffff;

  border-radius: 0.5rem;
}

.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;

  margin: 6rem auto;
}

.cabecalho h3 {
  font-size: 1rem;

  color: #8E2424;
}

.cabecalho h1 {
  font-size: 3rem;

  color: #101828;
}

.cabecalho p {
  font-size: 1.25rem;

  color: #667085;

  max-width: 792px;
}

.numeros {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 2rem;

  margin-bottom: 6rem;
}

.numeros .article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.status {
  color: #8E2424;
  font-weight: 600;
  font-size: 3.75rem;
}

.status__title {
  margin: 12px 0 8px 0;
  font-size: 1.125rem;
  color: #101828;

  font-weight: 500;
}

.status__descricao {
  font-size: 1rem;

  color: #667085;
}

.article {
  max-width: 280px;
}

.vagas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  padding: 6rem 5rem;
}

.talentos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;
}

.talentos__text {
  text-align: center;
}

.tag {
  font-weight: 500;
  font-size: 0.875rem;

  padding: 0.25rem 0.75rem;

  background-color: #8E24240D;
  color: #8E2424;
  width: fit-content;
  margin: 0 auto;

  border-radius: 1rem;
}

.talentos__title {
  margin: 1rem auto 1.25rem auto;
}

.vagas__abertas {
  display: flex;
  flex-direction: column;

  gap: 4rem;
}

.vagas__abertas-categoria {
  width: 768px;
}

.categoria__titulo {
  font-weight: 500;
  font-size: 1.25rem;

  margin-bottom: 2rem;

  color: #101828;
}

.vagas__container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.vaga {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  border: 1px solid #EAECF0;
  border-radius: 1rem;
}

.vaga__nome {
  font-size: 1.125rem;
  font-weight: 500; 

  color: #101828;
}

.vaga__info {
  display: flex;
  gap: 1.5rem;
  font-size: 1rem;
  color: #667085;
}
